* {padding: 0; margin: 0;}

h1, h2, h3, p {font-family: 'Rubik', sans-serif;
}

h1 {
	font-weight: 500;
	color: hsl(271, 36%, 24%);
}

h2 {
	color: white;
	font-weight: 500;
}

p{
	font-size: 1rem;
}


#background{
	background-color: white;
	width: 100%;
	height: 100vh;
}



#firstShape {
	top: 0;
	left: 1;
	background: linear-gradient(to bottom, hsl(293, 100%, 63%) -30%, hsl(264, 100%, 61%) 90%);
	width: 29%;
	height: 45%;
	padding-bottom: 20%;
	border-bottom-right-radius: 13rem; 
	border-bottom-left-radius: 13rem;
	margin-left: -3rem; 
}

#secondShape {
	position: absolute;
	right: 0;
	bottom: 0;
	background: linear-gradient(to top, hsl(264, 100%, 61%) 0%, hsl(293, 100%, 63%) 100%);
	width: 29%;
	padding-bottom: 48%;
	border-top-right-radius: 20rem; 
	border-top-left-radius: 25rem;
	opacity: .05;
}

#cellphone{
	position: absolute;
	top: 8rem;
	margin: 0;
	padding: 0;
	left: 20rem;
	height: 22%;
	background-color: white;
	width: 16%;
	padding-bottom: 15%;
	border-radius: 30px;
	padding-bottom: 19%;
  	box-shadow: 2px 15px 75px -20px #888888;
  	z-index: 5;
}

#innercellphone{
	margin-left: 6px;
	margin-right: 6px;
	margin-top:3%;
	top: 0;
	height: 96%;
	position: absolute;
	background-color: hsl(270, 20%, 96%);
	width: 94%;
	border-radius: 25px;
}


#innertop{
	position: absolute;
	top: 0;
	background: linear-gradient(to left, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
	width: 100%;
	height: 15%;
	border-radius: 20px 20px 5px 5px;
}


#innerbottom{
	position: absolute;
	top: 17%;
}


#walker{
	top: 1.8rem;
	position: absolute;
	width: 100%;
	height: 50%;
	box-sizing: border-box;
}

#walker h3{
	position: absolute;
	top: .8rem;
	color: hsl(276, 100%, 81%);
	font-size: .5rem;
	left: 3rem;
	font-weight: 300;

}

.icon_pos{
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	margin-right: 10px;
	margin-top: 6px;
	font-weight: 300;
	font-size: .7rem;


}

.arrow_pos{
	top: 0;
	left: 0;
	margin-left: 7px;
	color: white;
}

#walker h2{
	position: absolute;
	top: 0;
	color: white;
	font-size: .7rem;
	left: 3rem;
}

#walker img{
	left: 1.2rem;
	position: absolute;
	top: 0;
	width: 8%;
	border-radius: 50%;
	border: 1px solid white;
}


#innerphonecam{
	top: -.1rem;
	position: absolute;
	background-color: white;
	width: 64%;
	height: 30%;
	margin-left: 18%;
	border-radius: 0 0 15px 15px;

}

.textbubble_01{
	display: inline-block;
	float: left;
	position: relative;
	margin-left: 8px;
	margin-bottom: 8px;
	width: 58%;
	height: auto;
	background-color: hsla(206, 6%, 79%, .4);
	border-radius: 10px 10px 10px 5px;
}

.textbubble_01  p{
	font-size: .5rem;
	color: hsl(276, 55%, 52%);
	padding: 4px 0px 4px 8px;
	line-height: 10px;
}

.dogimages{
	float: right;
	top: 0;
	margin-top: 8px;
	margin-bottom: 4px;
	margin-right: 8px;
	position: relative;
	list-style-type: none;
	width: 100%;
	height: 10%;
	box-sizing: border-box;
}

.dogimages li{
	float: right;
	margin-left: 6px;
}

.dogimages li img{
	width: 2.5rem;
	border-radius: 10px;
}

.righttextbubble{
	position: relative;
	top: 0;
	float: right;
	margin-right: 8px;
	margin-bottom: 6px;
	min-width: 35%;
	max-width: 60%;
	height: auto;
	border-radius: 10px 10px 5px 10px;
	background-color: white;
}

.righttextbubble p{
	font-size: .5rem;
	color: black;
	padding: 5px 2px 4px 8px;
	line-height: 10px;
}

.textbubble_02{
	display: inline-block;
	position: relative;
	float: left;
	top: 0;
	margin-top: 8px;
	margin-left: 16px;
	margin-bottom: 8px;
	margin-left: 8px;
	width: 58%;
	height: auto;
	background-color: hsla(206, 6%, 79%, .4);
	border-radius: 10px 10px 10px 5px;
}

.textbubble_02  p{
	font-size: .5rem;
	color: hsl(276, 55%, 52%);
	padding: 4px 4px 4px 8px;
	line-height: 10px;
}

.rates{
	display: inline-block;
	float: left;
	top: 0;
	margin-top: 0%;
	margin-bottom: 4px;
	position: relative;
	margin-left: 8px;
	width: 68%;
	height: 20%;
	background: linear-gradient(to right, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
	border-radius: 10px 10px 10px 5px;
}

.rates p{
	font-size: .5rem;
	color: white;
	padding: 8px 8px 8px 16px;
}

.rates h2{
	padding: 4px 8px 4px 4px;
	right: 0;
	position: absolute;
	top: 0;
	float: right;
	font-size: .8rem;
}

.messagebar{
	display: inline-block;
	bottom: 0;
	margin-top: 16px;
	margin-bottom: 1%;
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 15%;
	border-radius: 20px;
	background-color: white;
	padding: 2px;
}

.messagebar p{
	font-size: .5rem;
	padding: 8px 8px 8px 16px;
	color: hsl(270, 7%, 64%);

}

.submit{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 3px;
	margin-right: 5px;
	background-color: hsl(271, 36%, 24%);
	color: white;
	border-radius: 50px;
	width: 1.5rem;
	height: 1.5rem;
}

.submit p{
	margin: 0;
	padding: 0;
	margin-top: .5px;
	margin-left: 1px;
	text-align: center;
	font-size: 1.2rem;
	color: white;
}

#info{
	margin: 0;
	padding: 0;
	left: 40rem;
	top: 17rem;
	position: absolute;
	width: 31%;
}

#info p{
	color: hsl(270, 7%, 64%);
	margin-top: 1rem;
	line-height: 1.7rem;
}














































